@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	border:0px;
}
div.slideshow{
	width:980px;
	height:400px;
	border:3px solid #000;
	margin:50px auto;
	overflow:hidden;
	position:relative;	
}
div.fade{
	width:980px;
	height:400px;
	overflow:hidden;
	position:relative;	
}
div.fade img{
	position:absolute;
	top:0px;
	left:0px;	
}
div.scroll{
	width:7840px;
	height:400px;	
	position:absolute;
	top:0px;
	left:0px;
	/*opacity:0;*/
}
div.scroll img{
	float:left;	
}
div.controlbox{
	width:100%;
	position:absolute;
	bottom:0px;
	height:80px;
	
}
div.controlbox > div{
	width:115px;
	height:70px;
	float:left;
	margin-left:3px;
	text-align:center;
	border:2px solid #000;
	font-size:30px;
	color:#FFF;
	margin-top:50px;
		
}