@charset "utf-8";
 CSS Document 
*{
	margin:0px;
	padding:0px;
	border:0px;
}
div.slideshow{
	width:980px;
	height:400px;
	border:3px solid #000;
	margin:50px auto;
	overflow:hidden;
	position:relative;	
}
div.fade{
	width:980px;
	height:400px;
	overflow:hidden;
	position:relative;
	/*display:none;*/	
}
div.fade img{
	position:absolute;
	top:0px;
	left:0px;	
}
div.scroll{
	width:980px;
	height:400px;	
	position:absolute;
	top:0px;
	left:0px;
	
}
div.scroll img{
	position:absolute;
	display:block;	
}
div.controlbox{
	width:100%;
	position:absolute;
	bottom:0px;
	height:80px;
	
	
}
div.controlbox > div{
	width:115px;
	height:70px;
	float:left;
	margin-left:3px;
	text-align:center;
	border:2px solid #000;
	font-size:30px;
	color:#FFF;
	margin-top:50px;
		
}

div.b-btn{
	width:48px;
	height:48px;
	background-image:url('../demo/images/back-button6.png');
	background-repeat:no-repeat;
	top:160px;
	left:30px;
	position:absolute;
	z-index:10;
}
div.f-btn{
	width:48px;
	height:48px;
	background-image:url('../demo/images/back-button6.png');
	background-repeat:no-repeat;
	top:160px;
	right:30px;
	position:absolute;
	z-index:10;
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
}